## Web Scrapping
# Data Generation from web

In [2]:
#importing libraries
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
url = 'url'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [4]:
print(soup)

<html>
<head>
<title>Welcome to the comments assignment from www.py4e.com</title>
</head>
<body>
<h1>This file contains the sample data for testing</h1>
<table border="2">
<tr>
<td>Name</td><td>Comments</td>
</tr>
<tr><td>Romina</td><td><span class="comments">97</span></td></tr>
<tr><td>Laurie</td><td><span class="comments">97</span></td></tr>
<tr><td>Bayli</td><td><span class="comments">90</span></td></tr>
<tr><td>Siyona</td><td><span class="comments">90</span></td></tr>
<tr><td>Taisha</td><td><span class="comments">88</span></td></tr>
<tr><td>Alanda</td><td><span class="comments">87</span></td></tr>
<tr><td>Ameelia</td><td><span class="comments">87</span></td></tr>
<tr><td>Prasheeta</td><td><span class="comments">80</span></td></tr>
<tr><td>Asif</td><td><span class="comments">79</span></td></tr>
<tr><td>Risa</td><td><span class="comments">79</span></td></tr>
<tr><td>Zi</td><td><span class="comments">78</span></td></tr>
<tr><td>Danyil</td><td><span class="comments">76</span></td></tr>
<tr><td>Ediomi</td><td><span class="comments">76</span></td></tr>
<tr><td>Barry</td><td><span class="comments">72</span></td></tr>
<tr><td>Lance</td><td><span class="comments">72</span></td></tr>
<tr><td>Hattie</td><td><span class="comments">66</span></td></tr>
<tr><td>Mathu</td><td><span class="comments">66</span></td></tr>
<tr><td>Bowie</td><td><span class="comments">65</span></td></tr>
<tr><td>Samara</td><td><span class="comments">65</span></td></tr>
<tr><td>Uchenna</td><td><span class="comments">64</span></td></tr>
<tr><td>Shauni</td><td><span class="comments">61</span></td></tr>
<tr><td>Georgia</td><td><span class="comments">61</span></td></tr>
<tr><td>Rivan</td><td><span class="comments">59</span></td></tr>
<tr><td>Kenan</td><td><span class="comments">58</span></td></tr>
<tr><td>Hassan</td><td><span class="comments">57</span></td></tr>
<tr><td>Isma</td><td><span class="comments">57</span></td></tr>
<tr><td>Samanthalee</td><td><span class="comments">54</span></td></tr>
<tr><td>Alexa</td><td><span class="comments">51</span></td></tr>
<tr><td>Caine</td><td><span class="comments">49</span></td></tr>
<tr><td>Grady</td><td><span class="comments">47</span></td></tr>
<tr><td>Anne</td><td><span class="comments">40</span></td></tr>
<tr><td>Rihan</td><td><span class="comments">38</span></td></tr>
<tr><td>Alexei</td><td><span class="comments">37</span></td></tr>
<tr><td>Indie</td><td><span class="comments">36</span></td></tr>
<tr><td>Rhuairidh</td><td><span class="comments">36</span></td></tr>
<tr><td>Annoushka</td><td><span class="comments">32</span></td></tr>
<tr><td>Kenzi</td><td><span class="comments">25</span></td></tr>
<tr><td>Shahd</td><td><span class="comments">24</span></td></tr>
<tr><td>Irvine</td><td><span class="comments">22</span></td></tr>
<tr><td>Carys</td><td><span class="comments">21</span></td></tr>
<tr><td>Skye</td><td><span class="comments">19</span></td></tr>
<tr><td>Atiya</td><td><span class="comments">18</span></td></tr>
<tr><td>Rohan</td><td><span class="comments">18</span></td></tr>
<tr><td>Nuala</td><td><span class="comments">14</span></td></tr>
<tr><td>Maram</td><td><span class="comments">12</span></td></tr>
<tr><td>Carlo</td><td><span class="comments">12</span></td></tr>
<tr><td>Japleen</td><td><span class="comments">9</span></td></tr>
<tr><td>Breeanna</td><td><span class="comments">7</span></td></tr>
<tr><td>Zaaine</td><td><span class="comments">3</span></td></tr>
<tr><td>Inika</td><td><span class="comments">2</span></td></tr>
</table>
</body>
</html>

In [5]:
# specify the data you need
table = soup.find_all('table')[0] # the [x]: where x = the position of the table you want to scrape
print(table)

<table border="2">
<tr>
<td>Name</td><td>Comments</td>
</tr>
<tr><td>Romina</td><td><span class="comments">97</span></td></tr>
<tr><td>Laurie</td><td><span class="comments">97</span></td></tr>
<tr><td>Bayli</td><td><span class="comments">90</span></td></tr>
<tr><td>Siyona</td><td><span class="comments">90</span></td></tr>
<tr><td>Taisha</td><td><span class="comments">88</span></td></tr>
<tr><td>Alanda</td><td><span class="comments">87</span></td></tr>
<tr><td>Ameelia</td><td><span class="comments">87</span></td></tr>
<tr><td>Prasheeta</td><td><span class="comments">80</span></td></tr>
<tr><td>Asif</td><td><span class="comments">79</span></td></tr>
<tr><td>Risa</td><td><span class="comments">79</span></td></tr>
<tr><td>Zi</td><td><span class="comments">78</span></td></tr>
<tr><td>Danyil</td><td><span class="comments">76</span></td></tr>
<tr><td>Ediomi</td><td><span class="comments">76</span></td></tr>
<tr><td>Barry</td><td><span class="comments">72</span></td></tr>
<tr><td>Lance</td><td><span class="comments">72</span></td></tr>
<tr><td>Hattie</td><td><span class="comments">66</span></td></tr>
<tr><td>Mathu</td><td><span class="comments">66</span></td></tr>
<tr><td>Bowie</td><td><span class="comments">65</span></td></tr>
<tr><td>Samara</td><td><span class="comments">65</span></td></tr>
<tr><td>Uchenna</td><td><span class="comments">64</span></td></tr>
<tr><td>Shauni</td><td><span class="comments">61</span></td></tr>
<tr><td>Georgia</td><td><span class="comments">61</span></td></tr>
<tr><td>Rivan</td><td><span class="comments">59</span></td></tr>
<tr><td>Kenan</td><td><span class="comments">58</span></td></tr>
<tr><td>Hassan</td><td><span class="comments">57</span></td></tr>
<tr><td>Isma</td><td><span class="comments">57</span></td></tr>
<tr><td>Samanthalee</td><td><span class="comments">54</span></td></tr>
<tr><td>Alexa</td><td><span class="comments">51</span></td></tr>
<tr><td>Caine</td><td><span class="comments">49</span></td></tr>
<tr><td>Grady</td><td><span class="comments">47</span></td></tr>
<tr><td>Anne</td><td><span class="comments">40</span></td></tr>
<tr><td>Rihan</td><td><span class="comments">38</span></td></tr>
<tr><td>Alexei</td><td><span class="comments">37</span></td></tr>
<tr><td>Indie</td><td><span class="comments">36</span></td></tr>
<tr><td>Rhuairidh</td><td><span class="comments">36</span></td></tr>
<tr><td>Annoushka</td><td><span class="comments">32</span></td></tr>
<tr><td>Kenzi</td><td><span class="comments">25</span></td></tr>
<tr><td>Shahd</td><td><span class="comments">24</span></td></tr>
<tr><td>Irvine</td><td><span class="comments">22</span></td></tr>
<tr><td>Carys</td><td><span class="comments">21</span></td></tr>
<tr><td>Skye</td><td><span class="comments">19</span></td></tr>
<tr><td>Atiya</td><td><span class="comments">18</span></td></tr>
<tr><td>Rohan</td><td><span class="comments">18</span></td></tr>
<tr><td>Nuala</td><td><span class="comments">14</span></td></tr>
<tr><td>Maram</td><td><span class="comments">12</span></td></tr>
<tr><td>Carlo</td><td><span class="comments">12</span></td></tr>
<tr><td>Japleen</td><td><span class="comments">9</span></td></tr>
<tr><td>Breeanna</td><td><span class="comments">7</span></td></tr>
<tr><td>Zaaine</td><td><span class="comments">3</span></td></tr>
<tr><td>Inika</td><td><span class="comments">2</span></td></tr>
</table>

In [7]:
# picking out the titles
titles = table.find_all('td')
print(titles)

[<td>Name</td>, <td>Comments</td>, <td>Romina</td>, <td><span class="comments">97</span></td>, <td>Laurie</td>, <td><span class="comments">97</span></td>, <td>Bayli</td>, <td><span class="comments">90</span></td>, <td>Siyona</td>, <td><span class="comments">90</span></td>, <td>Taisha</td>, <td><span class="comments">88</span></td>, <td>Alanda</td>, <td><span class="comments">87</span></td>, <td>Ameelia</td>, <td><span class="comments">87</span></td>, <td>Prasheeta</td>, <td><span class="comments">80</span></td>, <td>Asif</td>, <td><span class="comments">79</span></td>, <td>Risa</td>, <td><span class="comments">79</span></td>, <td>Zi</td>, <td><span class="comments">78</span></td>, <td>Danyil</td>, <td><span class="comments">76</span></td>, <td>Ediomi</td>, <td><span class="comments">76</span></td>, <td>Barry</td>, <td><span class="comments">72</span></td>, <td>Lance</td>, <td><span class="comments">72</span></td>, <td>Hattie</td>, <td><span class="comments">66</span></td>, <td>Mathu</td>, <td><span class="comments">66</span></td>, <td>Bowie</td>, <td><span class="comments">65</span></td>, <td>Samara</td>, <td><span class="comments">65</span></td>, <td>Uchenna</td>, <td><span class="comments">64</span></td>, <td>Shauni</td>, <td><span class="comments">61</span></td>, <td>Georgia</td>, <td><span class="comments">61</span></td>, <td>Rivan</td>, <td><span class="comments">59</span></td>, <td>Kenan</td>, <td><span class="comments">58</span></td>, <td>Hassan</td>, <td><span class="comments">57</span></td>, <td>Isma</td>, <td><span class="comments">57</span></td>, <td>Samanthalee</td>, <td><span class="comments">54</span></td>, <td>Alexa</td>, <td><span class="comments">51</span></td>, <td>Caine</td>, <td><span class="comments">49</span></td>, <td>Grady</td>, <td><span class="comments">47</span></td>, <td>Anne</td>, <td><span class="comments">40</span></td>, <td>Rihan</td>, <td><span class="comments">38</span></td>, <td>Alexei</td>, <td><span class="comments">37</span></td>, <td>Indie</td>, <td><span class="comments">36</span></td>, <td>Rhuairidh</td>, <td><span class="comments">36</span></td>, <td>Annoushka</td>, <td><span class="comments">32</span></td>, <td>Kenzi</td>, <td><span class="comments">25</span></td>, <td>Shahd</td>, <td><span class="comments">24</span></td>, <td>Irvine</td>, <td><span class="comments">22</span></td>, <td>Carys</td>, <td><span class="comments">21</span></td>, <td>Skye</td>, <td><span class="comments">19</span></td>, <td>Atiya</td>, <td><span class="comments">18</span></td>, <td>Rohan</td>, <td><span class="comments">18</span></td>, <td>Nuala</td>, <td><span class="comments">14</span></td>, <td>Maram</td>, <td><span class="comments">12</span></td>, <td>Carlo</td>, <td><span class="comments">12</span></td>, <td>Japleen</td>, <td><span class="comments">9</span></td>, <td>Breeanna</td>, <td><span class="comments">7</span></td>, <td>Zaaine</td>, <td><span class="comments">3</span></td>, <td>Inika</td>, <td><span class="comments">2</span></td>]

In [8]:
# list comprehension
table_titles1 = [title.text for title in titles]
print(table_titles1)

['Name', 'Comments', 'Romina', '97', 'Laurie', '97', 'Bayli', '90', 'Siyona', '90', 'Taisha', '88', 'Alanda', '87', 'Ameelia', '87', 'Prasheeta', '80', 'Asif', '79', 'Risa', '79', 'Zi', '78', 'Danyil', '76', 'Ediomi', '76', 'Barry', '72', 'Lance', '72', 'Hattie', '66', 'Mathu', '66', 'Bowie', '65', 'Samara', '65', 'Uchenna', '64', 'Shauni', '61', 'Georgia', '61', 'Rivan', '59', 'Kenan', '58', 'Hassan', '57', 'Isma', '57', 'Samanthalee', '54', 'Alexa', '51', 'Caine', '49', 'Grady', '47', 'Anne', '40', 'Rihan', '38', 'Alexei', '37', 'Indie', '36', 'Rhuairidh', '36', 'Annoushka', '32', 'Kenzi', '25', 'Shahd', '24', 'Irvine', '22', 'Carys', '21', 'Skye', '19', 'Atiya', '18', 'Rohan', '18', 'Nuala', '14', 'Maram', '12', 'Carlo', '12', 'Japleen', '9', 'Breeanna', '7', 'Zaaine', '3', 'Inika', '2']

In [9]:
table_titles1 = [title.text.strip() for title in titles]
print(table_titles1)
table_titles = table_titles1[:6]
print(table_titles)

['Name', 'Comments', 'Romina', '97', 'Laurie', '97', 'Bayli', '90', 'Siyona', '90', 'Taisha', '88', 'Alanda', '87', 'Ameelia', '87', 'Prasheeta', '80', 'Asif', '79', 'Risa', '79', 'Zi', '78', 'Danyil', '76', 'Ediomi', '76', 'Barry', '72', 'Lance', '72', 'Hattie', '66', 'Mathu', '66', 'Bowie', '65', 'Samara', '65', 'Uchenna', '64', 'Shauni', '61', 'Georgia', '61', 'Rivan', '59', 'Kenan', '58', 'Hassan', '57', 'Isma', '57', 'Samanthalee', '54', 'Alexa', '51', 'Caine', '49', 'Grady', '47', 'Anne', '40', 'Rihan', '38', 'Alexei', '37', 'Indie', '36', 'Rhuairidh', '36', 'Annoushka', '32', 'Kenzi', '25', 'Shahd', '24', 'Irvine', '22', 'Carys', '21', 'Skye', '19', 'Atiya', '18', 'Rohan', '18', 'Nuala', '14', 'Maram', '12', 'Carlo', '12', 'Japleen', '9', 'Breeanna', '7', 'Zaaine', '3', 'Inika', '2']
['Name', 'Comments', 'Romina', '97', 'Laurie', '97']

In [10]:
#creating a dataframe
worldie = pd.DataFrame(columns = table_titles)
worldie

Empty DataFrame
Columns: [Name, Comments, Romina, 97, Laurie, 97]
Index: []

In [11]:
column_data = table.find_all('tr')
for row in column_data:
    row_data = row.find_all('td')
    
    # cleaning the data
    clean_row = [data.text.strip() for data in row_data]
    if len(clean_row) == False:
        del[clean_row]
    else:
        print(clean_row)

['Name', 'Comments']
['Romina', '97']
['Laurie', '97']
['Bayli', '90']
['Siyona', '90']
['Taisha', '88']
['Alanda', '87']
['Ameelia', '87']
['Prasheeta', '80']
['Asif', '79']
['Risa', '79']
['Zi', '78']
['Danyil', '76']
['Ediomi', '76']
['Barry', '72']
['Lance', '72']
['Hattie', '66']
['Mathu', '66']
['Bowie', '65']
['Samara', '65']
['Uchenna', '64']
['Shauni', '61']
['Georgia', '61']
['Rivan', '59']
['Kenan', '58']
['Hassan', '57']
['Isma', '57']
['Samanthalee', '54']
['Alexa', '51']
['Caine', '49']
['Grady', '47']
['Anne', '40']
['Rihan', '38']
['Alexei', '37']
['Indie', '36']
['Rhuairidh', '36']
['Annoushka', '32']
['Kenzi', '25']
['Shahd', '24']
['Irvine', '22']
['Carys', '21']
['Skye', '19']
['Atiya', '18']
['Rohan', '18']
['Nuala', '14']
['Maram', '12']
['Carlo', '12']
['Japleen', '9']
['Breeanna', '7']
['Zaaine', '3']
['Inika', '2']

In [12]:
#column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all('td')
  #  
   # # cleaning the data
    clean_row = [data.text.strip() for data in row_data]
    
    length = len(worldie)
    worldie.loc[length] = clean_row

ValueError: cannot set a row with mismatched columns

In [13]:
column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all('td')
    
    # cleaning the data
    clean_row = [data.text.strip() for data in row_data]
    if len(clean_row) == False:
        del[clean_row]
    else:
        length = len(worldie)
        worldie.loc[length] = clean_row

ValueError: cannot set a row with mismatched columns

In [ ]:
worldie.tail(10)

Empty DataFrame
Columns: [Name, Comments, Romina, 97, Laurie, 97]
Index: []

In [ ]:
worldie.to_csv(r"C:\Users\Aiyedun Rasheed B\Documents\Python Data Science\2023boxofficedataLatest International Weekends.csv", index=False)